!!! 5
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/chunkfive-fontface.css')
        script(src='/js/omok.js')
    body
        section#wrapper!= body
